.header .navbar-default,
.panel.nodefault > .panel-heading,
.panel.nodefault > .panel-heading .btn.dropdown-toggle {
    background: #3B4D09;
    color: #fff;
    filter: none;
}
.header .navbar-default .navbar-nav > li > a {
    color: #fff;
}

.header #topmenulist {
	background: #E68217;
}

.header #topmenulist .navbar-nav > .active > a, 
.header #topmenulist .navbar-nav > .active > a:hover, 
.header #topmenulist .navbar-nav > .active > a:focus,
.header #topmenulist .navbar-nav > li > a:hover,
.header #topmenulist .navbar-nav > li > a:focus {
    color: #3B4D09;
}

.header .logo,
.header .media-body {
	margin: 10px 0 0 0;
	height: 80px;
	vertical-align: bottom;
}
.header .media-body h4 {
	vertical-align: bottom;
}

.header .topmenu {
	margin: 10px 0 0 0;
}
.header .topmenu > ul > li > a.iconbtn:hover {
	color: #E68217;
}

.header .title {
	display: none;
}
