.header .navbar-default,
.panel.nodefault > .panel-heading,
.panel.nodefault > .panel-heading .btn.dropdown-toggle {
    background: #213c81;
    color: #fff;
    filter: none;
}
.header .navbar-default .navbar-nav > li > a {
    color: #fff;
}

.header #topmenulist {
	background: #6a8bbe
}

.header #topmenulist .navbar-nav > .active > a, 
.header #topmenulist .navbar-nav > .active > a:hover, 
.header #topmenulist .navbar-nav > .active > a:focus,
.header #topmenulist .navbar-nav > li > a:hover,
.header #topmenulist .navbar-nav > li > a:focus {
    color: #213c81;
}


.header .logo,
.header .media-body {
    margin-top: 20px;
    height: 60px;
    vertical-align: bottom;
}
.header .media-body h4 {
    vertical-align: bottom;
}
.header .title {
    display: none;
}

.header .topmenu {
    margin: 10px 0 0 0;
}
